# Feature Engineering

## 1. Setup

In [1]:
import pandas as pd
import numpy as np
from summarytools import dfSummary

from env_setup import *
from functions.t_test import *

pd.set_option('display.max_columns', None)

In [2]:
# Load data
df_raw = pd.read_csv(fr"{dataout}//{dataset}_EDA.csv")
df_raw.head()
df_ori = df_raw.copy()

## 2. Feature Engineering

In [3]:
# Split categorical and numeric
l_cols_cat = [i for i in df_ori if df_ori[i].dtype==object]
l_cols_num = [i for i in df_ori if df_ori[i].dtype!=object and i != 'Churned']

print(f"Categorical columns: {', '.join(l_cols_cat)}")
print(f"Numeric columns: {', '.join(l_cols_num)}")

Categorical columns: Gender, Location, TransactionType
Numeric columns: Age, Income, Tenure, TransactionDate, TransactionAmount, NumSupportCalls, NumComplaints

### 2.1. Categorical One Hot Encoding
Apply one-hot encoding to categorical variables for modelling

In [4]:
# Summary Statistics for Categorical
## Encode categorical
df_ori_encoded = pd.get_dummies(df_ori, columns=l_cols_cat)
l_cols_encoded = [i for i in df_ori_encoded.columns if any(x in i for x in l_cols_cat)]

for col in l_cols_encoded:
    df_ori_encoded[col] = np.where(df_ori_encoded[col]==True, 1, 0)

stats_cat = df_ori_encoded.groupby('Churned')[l_cols_encoded].sum().reset_index()

## Scale
stats_cat_scaled = stats_cat.copy()
for col in l_cols_encoded:
    stats_cat_scaled[col] = np.where(stats_cat_scaled['Churned']==0, 
                                    stats_cat_scaled[col] / float(df_ori_encoded[df_ori_encoded['Churned']==0]['Churned'].count()),
                                    stats_cat_scaled[col] / float(df_ori_encoded[df_ori_encoded['Churned']==1]['Churned'].count())
    )
stats_cat_scaled

,Churned,Gender_Female,Gender_Male,Location_Rural,Location_Suburban,Location_Urban,TransactionType_Purchase,TransactionType_Refund,TransactionType_Subscription Renewal,TransactionType_Support Fee,TransactionType_Upgrade
0,0,0.503888,0.496112,0.199020,0.300483,0.500497,0.200235,0.199811,0.199318,0.200137,0.200498
1,1,0.498657,0.501343,0.195221,0.306133,0.498646,0.199729,0.198015,0.200229,0.201687,0.200340

### 2.2. Numerical Binning
Apply binning to numerical variables.

Mostly not necessary as bands are not distinct enough but just in case needed for modelling.

In [5]:
# Create Bins
df_ori_binned = df_ori.copy()

d_bins = {
    'Age': list(range(0, 80, 10)), 
    'Income': list(range(0, 200_000, 10_000)), 
    'Tenure': [0, 5], # Hypothesis test cut off = 5
    'TransactionDate': list(range(0, 390, 30)),
    'TransactionAmount': list(range(0, 600, 100)), 
    # 'NumSupportCalls': [], # Not required - too small and no major difference in hypothesis test
    # 'NumComplaints': [] # Not required - too small and no major difference in hypothesis test
}

for i,j in d_bins.items():
    df_ori_binned[f'{i}_bin'] = pd.cut(df_ori_binned[i], bins=j)

# Fix nans
df_ori_binned['Tenure_bin'] = df_ori_binned['Tenure_bin'].cat.add_categories('>5')
df_ori_binned.loc[df_ori_binned['Tenure_bin'].isna(), 'Tenure_bin'] = '>5'

In [6]:
# View Statistics
dfSummary(df_ori_binned[[f'{i}_bin' for i in d_bins.keys()]])

In [9]:
# One Hot Encoding
df_ori_encoded_num = pd.get_dummies(df_ori_binned[[f'{i}_bin' for i in d_bins.keys()]], columns=[f'{i}_bin' for i in d_bins.keys()])

for col in df_ori_encoded_num.columns:
    df_ori_encoded_num[col] = np.where(df_ori_encoded_num[col]==True, 1, 0)

df_ori_encoded_num.head()

,"Age_bin_(0, 10]","Age_bin_(10, 20]","Age_bin_(20, 30]","Age_bin_(30, 40]","Age_bin_(40, 50]","Age_bin_(50, 60]","Age_bin_(60, 70]","Income_bin_(0, 10000]","Income_bin_(10000, 20000]","Income_bin_(20000, 30000]","Income_bin_(30000, 40000]","Income_bin_(40000, 50000]","Income_bin_(50000, 60000]","Income_bin_(60000, 70000]","Income_bin_(70000, 80000]","Income_bin_(80000, 90000]","Income_bin_(90000, 100000]","Income_bin_(100000, 110000]","Income_bin_(110000, 120000]","Income_bin_(120000, 130000]","Income_bin_(130000, 140000]","Income_bin_(140000, 150000]","Income_bin_(150000, 160000]","Income_bin_(160000, 170000]","Income_bin_(170000, 180000]","Income_bin_(180000, 190000]","Tenure_bin_(0, 5]",Tenure_bin_>5,"TransactionDate_bin_(0, 30]","TransactionDate_bin_(30, 60]","TransactionDate_bin_(60, 90]","TransactionDate_bin_(90, 120]","TransactionDate_bin_(120, 150]","TransactionDate_bin_(150, 180]","TransactionDate_bin_(180, 210]","TransactionDate_bin_(210, 240]","TransactionDate_bin_(240, 270]","TransactionDate_bin_(270, 300]","TransactionDate_bin_(300, 330]","TransactionDate_bin_(330, 360]","TransactionAmount_bin_(0, 100]","TransactionAmount_bin_(100, 200]","TransactionAmount_bin_(200, 300]","TransactionAmount_bin_(300, 400]","TransactionAmount_bin_(400, 500]"
0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

## 3. Recombine

In [21]:
df_fe = pd.concat(
    [
        df_raw, # Original
        df_ori_encoded.drop(columns=['Age', 'Income', 'Tenure', 'TransactionDate', 'TransactionAmount', 'NumSupportCalls', 'NumComplaints', 'Churned']), # Categorical dummy
        df_ori_binned[[f'{i}_bin' for i in d_bins.keys()]], # Numeric binned
        df_ori_encoded_num, # Numeric binned dummy
    ],
    axis = 1)
df_fe.head()

,Age,Gender,Income,Tenure,Location,TransactionDate,TransactionType,TransactionAmount,NumSupportCalls,NumComplaints,Churned,Gender_Female,Gender_Male,Location_Rural,Location_Suburban,Location_Urban,TransactionType_Purchase,TransactionType_Refund,TransactionType_Subscription Renewal,TransactionType_Support Fee,TransactionType_Upgrade,Age_bin,Income_bin,Tenure_bin,TransactionDate_bin,TransactionAmount_bin,"Age_bin_(0, 10]","Age_bin_(10, 20]","Age_bin_(20, 30]","Age_bin_(30, 40]","Age_bin_(40, 50]","Age_bin_(50, 60]","Age_bin_(60, 70]","Income_bin_(0, 10000]","Income_bin_(10000, 20000]","Income_bin_(20000, 30000]","Income_bin_(30000, 40000]","Income_bin_(40000, 50000]","Income_bin_(50000, 60000]","Income_bin_(60000, 70000]","Income_bin_(70000, 80000]","Income_bin_(80000, 90000]","Income_bin_(90000, 100000]","Income_bin_(100000, 110000]","Income_bin_(110000, 120000]","Income_bin_(120000, 130000]","Income_bin_(130000, 140000]","Income_bin_(140000, 150000]","Income_bin_(150000, 160000]","Income_bin_(160000, 170000]","Income_bin_(170000, 180000]","Income_bin_(180000, 190000]","Tenure_bin_(0, 5]",Tenure_bin_>5,"TransactionDate_bin_(0, 30]","TransactionDate_bin_(30, 60]","TransactionDate_bin_(60, 90]","TransactionDate_bin_(90, 120]","TransactionDate_bin_(120, 150]","TransactionDate_bin_(150, 180]","TransactionDate_bin_(180, 210]","TransactionDate_bin_(210, 240]","TransactionDate_bin_(240, 270]","TransactionDate_bin_(270, 300]","TransactionDate_bin_(300, 330]","TransactionDate_bin_(330, 360]","TransactionAmount_bin_(0, 100]","TransactionAmount_bin_(100, 200]","TransactionAmount_bin_(200, 300]","TransactionAmount_bin_(300, 400]","TransactionAmount_bin_(400, 500]"
0,56,Female,91512,4,Urban,17,Support Fee,147.70,2,3,0,1,0,0,0,1,0,0,0,1,0,"(50, 60]","(90000, 100000]","(0, 5]","(0, 30]","(100, 200]",0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1,56,Female,91512,4,Urban,19,Support Fee,90.61,2,3,0,1,0,0,0,1,0,0,0,1,0,"(50, 60]","(90000, 100000]","(0, 5]","(0, 30]","(0, 100]",0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,56,Female,91512,4,Urban,11,Purchase,180.82,2,3,0,1,0,0,0,1,1,0,0,0,0,"(50, 60]","(90000, 100000]","(0, 5]","(0, 30]","(100, 200]",0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3,56,Female,91512,4,Urban,4,Refund,115.54,2,3,0,1,0,0,0,1,0,1,0,0,0,"(50, 60]","(90000, 100000]","(0, 5]","(0, 30]","(100, 200]",0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
4,56,Female,91512,4,Urban,15,Subscription Renewal,36.45,2,3,0,1,0,0,0,1,0,0,1,0,0,"(50, 60]","(90000, 100000]","(0, 5]","(0, 30]","(0, 100]",0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

## 4. Export

In [23]:
# Export datasets
df_fe.to_csv(fr"{dataout}//{dataset}_FE.csv", index=False)